
/* nav style */

.navbar{
    background-image: url("img/nav.jpg");
    
}
.nav-item{
    padding: 0px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    
}
.cart-icon{
    color: aliceblue;
}
.active:hover{
    text-decoration: underline 1px;
}

.nav-item:hover{
    letter-spacing: 5px;
    transition: 1s;
    color: rgb(238, 27, 150);
    
}
/* nav style end */

/* banner start */
#hero{
    background-image:url("img/hero4.png");
    height: 130vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-position: top 30% right 30%;
}
.heroinfo{
padding-top: 320px;

}
.heroh1{
    font-size: 80px;
    color: rgb(86, 55, 211);
}
.heroh2{
    font-size: 60px;
}
.btn-hero{
    background-image: url("img/button.png");
    background-color: transparent;
    color: rgb(3, 71, 71);
    width: 220px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    
    
}


.shop{
    color: rgb(27, 156, 156);
}
/* banner end */

/* feature start */

.feature{
    margin-top: 70px;
}
.fa-solid{
    color: yellow;
}
.f61{
    background-color: rgb(249, 225, 195);
    width: 150px;
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 8px;
}
.c1{
    border: 1px solid rgb(15, 15, 15);
    height: 190px;
    width: 180px;
    box-shadow: 3px 3px  3px 3px rgb(181, 179, 179);  
    margin-left: 40px;
    
}
.c1img{
    margin-left: 20px;
    margin-top: 20px;
}
.f62{
    background-color: rgb(136, 188, 106);
    width: 150px;
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 8px;
}
.f63{
    background-color: rgb(126, 130, 250);
    width: 150px;
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 8px;
}
.f64{
    background-color: rgb(176, 122, 56);
    width: 150px;
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 8px;
}
.f65{
    background-color: rgb(251, 190, 115);
    width: 150px;
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 8px;
}
.f66{
    background-color: rgb(155, 120, 198);
    width: 150px;
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 8px;
}

/* feature end */

/* banner 2 */
.banner2{
    background-image: url("img/banner/b2.jpg");
    color: white;
    text-align: center;
    margin-top: 80px;
    padding-top: 90px;
    height: 280px;
    width: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.off{
    color: red;
}
/* banner2 end */

/* banner3 start */

.banner3{
    margin-top: 60px;
}
.banner3-part1{
    background-image: url("img/banner/b17.jpg");
    height: 330px;
    
}
.banner3-part2{
    background-image: url("img/banner/b10.jpg");
}
.banner3-info{
    margin-top: 100px;
    color: white;
    margin-left: 30px;
}
 /* banner3 end */
 .banner4{
    margin-top: 60px;
    margin-right: 120px;
}

 .img1{
    width: 400px;
    height: 248px;
    position: absolute;
}
.img2{
    width: 500px;
    height: 250px;

    position:absolute;
}
.img3{
    width: 400px;
    height: 249px;
    position: absolute;
}
.info{
    
    position: relative;
    margin-top: 100px;
    margin-left: 20px;
    color: white;
}
.Fotter{
    margin-top: 170px;
}
.fa-brands{
    padding: 3px;
}
.fa-brands:hover{
    color: rgb(218, 26, 211);
}
.pay{
    display: flex;
}
.last-part{
    margin-top: 120px;
    text-align: center;
}


/* shop page start */

.shop-hero{
    background-image: url("img/banner/b1.jpg");
    height: 280px;
}
.shop-heroinfo{
    color: white;
    text-align: center;
    padding-top: 70px;
}
.shop-heroinfo h1{
    font-size: 60px;
}

#new-arrival{
    margin-top: 60px;
}
.product{
    margin-top: 60px;
}
#product2{
    margin-top: 30px;
}

/* blog part */

.blog-hero{
    background-image: url("img/banner/b19.jpg");
    height: 280px;
}
.blog1{
    margin-top: 120px;
}
.blog-img1{
    height: 400px;
    width: 500px;
    
}
.blog-info{
    margin-top: 90px;
    
}

.blog2{
    margin-top: 70px;
}
.blog3{
    margin-top: 70px;
}
.blog4{
    margin-top: 70px;
}
.blog5{
    margin-top: 70px;
}




@media (max-width:820px) {

    .menu{
        margin-right: 60px;
    }
    
    .img1{
            
        width: 200px;
        height: 119px;
            position: absolute;
        
        
    }
    .img2{
        width: 200px;
        height: 119px;
    
        position:absolute;
    }
    .img3{
        width: 200px;
        height: 119px;
        position: absolute;
    }
    .info{
    
        position: relative;
        margin-top: 150px;
        margin-left: 20px;
        color: rgb(217, 116, 116);
    }
    .pay{
        display: inline;
        
    }
    .blog-img1{
        height: 200px;
        width: 300px;
        margin-left: 20px;
        margin-top: 70px;
    
}

.blog-info{
   margin-bottom: 80px;

}


}
    
    



  
    





@media screen and (max-width:480px) {
    
    .navbar-toggler-icon{
        margin-right: 20px;
    }
    
    
    .c1{
        margin-top: 50px;
        margin-left: 120px;
    }
    .f61{
        background-color: rgb(249, 225, 195);
        width: 140px;
        height: 25px;
        margin-top: 15px;
        border-radius: 8px;
    }

    .f62{
        background-color: rgb(136, 188, 106);
        width: 140px;
        height: 25px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 8px;
    }
    .f63{
        background-color: rgb(126, 130, 250);
        width: 140px;
        height: 25px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 8px;
    }
    .f64{
        background-color: rgb(176, 122, 56);
        width: 140px;
        height: 25px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 8px;
    }
    .f65{
        background-color: rgb(251, 190, 115);
        width: 140px;
        height: 25px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 8px;
    }
    .f66{
        background-color: rgb(155, 120, 198);
        width: 140px;
        height: 25px;
        margin-left: 20px;
        margin-top: 15px;
        border-radius: 8px;
    }
        .btn-hero{
            background-color: aqua;
        }

        .card{
            margin-left: 40px;
            cursor: pointer;
        }
        .product-second{
            margin-top: 40px;
            margin-right: 10px;
        }
        .banner3-part1{
            width: 400px;
        }

        .banner3-part2{
            margin-top: 40px;
            width: 400px;
        }
         .img1{
            
            width: 200px;
            height: 119px;
                position: absolute;
            
            
        }
        .img2{
            width: 200px;
            height: 119px;
        
            position:absolute;
        }
        .img3{
            width: 200px;
            height: 119px;
            position: absolute;
        }
        .info{
    
            position: relative;
            margin-top: 150px;
            margin-right: 120px;
            color: rgb(224, 25, 25);
        }
        .banner4-part1{
            margin-left: 60px;
        }
        .banner4-part2{
            margin-left: 60px;
        }
        
        .banner4-part3{
            margin-left: 60px;
        }

        .last-part{
            margin-right: 50px;
        }

        .blog-img1{
            height: 200px;
            width: 300px;
            margin-left: 20px;
            
        }
        .blog-hero{
            background-image: url("img/banner/b19.jpg");
            height: 240px;
            width: 400px;
        }
}

        
        
     

